<html>
<head>
    <title>Log webecho</title>
</head>
<body ng-app="app" ng-controller="WebechoController as ctrl">
<h1>Webecho - service</h1>

<ul>
    <li ng-repeat="item in ctrl.list track by $index">
        {{item.date | date:"MM/dd/yyyy 'at' HH:mm:ss Z"}} : {{item.data| json}}
    </li>
</ul>

<div ng-show="!ctrl.started">
    <h2>Connect</h2>
    <input ng-model="ctrl.token"/> <br/>
    <input type="submit" ng-click="ctrl.start()"/>
</div>

<div ng-show="ctrl.started">
    <h2>Write</h2>
    Id: <input ng-model="ctrl.id"/> <br/>
    Msg: <input ng-model="ctrl.msg"/> <br/>
    Event name: <input ng-model="ctrl.action" value="message"/> <br/>
    <input type="submit" ng-click="ctrl.echoWithId()" value="emit message"/>
    <input type="submit" ng-click="ctrl.echoWithoutId()" value="emit debug_event"/>
</div>

<div ng-show="ctrl.started">
    <h2>Filters</h2>

    <div>
        <h3>Actions</h3>
        <input ng-model="ctrl.newActionFilter"/> <br/>
        <input type="submit" ng-click="ctrl.addActionFilter()" value="add action filter"/>

        <div class="list">
            <span ng-repeat="item in ctrl.filters.actions track by $index"
                  ng-click="ctrl.removeActionFilter(item)"> {{item}} (X)
            </span>
        </div>
    </div>

    <div>
        <h3>Ids</h3>
        <input ng-model="ctrl.newIdsFilter"/> <br/>
        <input type="submit" ng-click="ctrl.addIdsFilter()" value="add ids filter"/>

        <div class="list">
            <span ng-repeat="item in ctrl.filters.ids track by $index" ng-click="ctrl.removeActionFilter(item)">
                {{item}} (X)
            </span>
        </div>
    </div>
</div>


<script src="lib/socket.io-client/socket.io.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>