<html>
<head>
    <title>Rest echo</title>
    <link href="/main.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="app" ng-controller="RestController as ctrl">
<h1>Send rest echo</h1>

<form name="restForm">
    <input ng-model="ctrl.form.token" placeholder="token" required/> <br/>
    <input ng-model="ctrl.form.action" placeholder="action" required/> <br/>
    <input ng-model="ctrl.form.data.msg" placeholder="example msg" required/> <br/>
    <input type="submit" ng-disabled="restForm.$invalid" ng-click="ctrl.send()"/> <br/>
</form>


<script src="/lib/socket.io-client/socket.io.js"></script>
<script src="/lib/angular/angular.min.js"></script>
<script src="/app.js"></script>
</body>
</html>